@import "reset.css";

html { background-color: #303030 }
body { 
  background-color: #4A4A4A;
  width: 700px; margin: 0 auto; padding: 30px 20px;
  -webkit-box-shadow: 0px 3px 5px #141414;
  -moz-box-shadow: 0px 3px 5px #141414;  
  box-shadow: 0px 3px 5px #141414;    
}

a:hover   { text-decoration: underline }
a         { color: #499DFF; text-decoration: none }
a:visited { color: #AB49FF }

h1, h2, p, ul, ol, dl { color: #EEEEEE; font-family: "Lucida Grande", Tahoma, serif; text-shadow: #000 2px 2px 0px }
li, p                 { line-height: 1.2em }
em                    { color: #FFAB49 }

ul      { list-style-type: square }
ol, ul  { list-style-position: inside }

dl  { background-color: #303030; padding: 1em }
dt  { float: left; width: 100px; font-style: italic }
dd  { margin: 0 0 10px 100px }

header    { margin-bottom: 30px }
header h1 { margin: 0.1em 0; font-size: 2.5em; }
header p  { font-size: 0.8em; text-indent: 2em }

footer p  { text-align: center; font-size: 0.8em }

section             { margin-bottom: 20px }
section:last-child  { margin-bottom: 0 }
section h1    { font-size: 1.2em; margin: 0.4em 0 }
section p,
section ul,
section dl    { margin: 0.5em 0 }

code  { 
  display: block; 
  margin: 1em 0; padding: 10px; 
  color: #49FF50; background-color: #303030;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

#construction       {
  display: none;
  position: fixed; top: 5px; left: 5px;
  padding: 10px; width: 250px;
  background-color: #FF5049;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px
}

#construction .wink {
  color: #EEE;
  float: left;
  font-size: 35px;
  margin-right: 10px
}

.shines {
  text-shadow: none;
  -webkit-animation-name: shines;
  -webkit-animation-duration: 4s; 
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: linear;
}

.syntaxhighlighter code { display: inline }

@-webkit-keyframes shines {
  0%    { text-shadow: none }
  25%   { text-shadow: rgb(255, 255, 255) -30px 0px 100px }
  50%   { text-shadow: rgb(255, 255, 255) 0px 0px 200px }
  75%   { text-shadow: rgb(255, 255, 255) 30px 0px 100px }
  100%  { text-shadow: none }
}

span.compat {
  font-size: 0.6em;
  background-color: #499DFF; color: #EEE;
  padding: 2px;
  text-shadow: none;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px  
}